name: Update lockfiles for dependabot

# We want this to run *after* auto-merge has completed.
# Otherwise, auto-merge may fail due to the extra commit from this workflow
on:
  workflow_run:
    workflows:
      - Dependabot auto-merge
    types:
      - completed
    
jobs:
  dump:
    runs-on: ubuntu-latest
    steps:
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

  lockfiles:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # full history
          token: ${{ secrets.PAT_REPO_FULL }}
          ref: ${{ github.head_ref }}

      - name: Setup .NET 5
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.x

      - name: Restore dependencies
        run: |
          dotnet restore --force-evaluate

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update lockfiles
