name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: View context attributes
      uses: actions/github-script@v6
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          console.log(context);

          let ref = context.sha;
          console.log('context.sha: ' + ref);
          if (context.eventName === 'pull_request') {
            ref = context.payload.pull_request.head.sha
            console.log('context.payload.pull_request.head.sha: ' + ref);
            if (!ref) {
              ref = context.payload.after
              console.log('context.payload.after: ' + ref);
            }
          }

          if (context.actor != 'dependabot[bot]') {
            const result = await github.rest.checks.create({
              name: 'Thingy',
              head_sha: ref,
              owner: context.repo.owner,
              repo: context.repo.repo,
              status: 'completed',
              conclusion: 'success',
              output: {
                title: 'title',
                summary: 'A summary: ' + new Date().toISOString(),
                text: `ref: ${ref}\ngithub.event.pull_request.head.sha: ${{ github.event.pull_request.head.sha }}\ncontext.payload.after: ${context.payload.after}`
              }
            });

            console.log(result);
          } else {
            console.log('Skipping because we don\'t have write scope');
          }
                  
    - name: Dump GitHub context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v3.2.0
      with:
        dotnet-version: 5.0.x

    - name: Restore dependencies
      run: dotnet restore --locked-mode
      
    - name: Build
      run: dotnet build --no-restore
