name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: View context attributes
      uses: actions/github-script@v4
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          console.log(context);

          const result = github.checks.create({
            name: 'Thingy',
            head_sha: context.sha,
            owner: context.repo.owner,
            repo: context.repo.repo,
            status: 'in_progress'
          });

          console.log(result);
        
    # - name: Dump GitHub context
    #   env:
    #     GITHUB_CONTEXT: ${{ toJson(github) }}
    #   run: echo "$GITHUB_CONTEXT"

    # - uses: actions/checkout@v2
    # - name: Setup .NET
    #   uses: actions/setup-dotnet@v1
    #   with:
    #     dotnet-version: 5.0.x
    # - name: Restore dependencies
    #   run: dotnet restore --locked-mode
    # - name: Build
    #   run: dotnet build --no-restore
